[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
pydantic = "*"
uvicorn = "*"
pika = "*"
boto3 = "*"
jwt = "*"
aio-pika = "*"
aws = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
